{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Farmacias {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Obras sociales que trabajan con Clinica: {{clinica}}</li>
{% endblock %}

{% block header-title %} Listado de Obras Sociales que trabajan con Clinica: {{clinica}} {% endblock%}

{% block form-field-simple %} 
    <input class="form-control form-field form-field-simple" id="razonSocial" name="razonSocial" value="{{filtros.razonSocial}}" placeholder="Razon Social" type="text" />
{% endblock %}

{% block form-fields-avanzados %} 
    <input class="form-control form-field" id="localidad" name="localidad" value="{{filtros.localidad}}" placeholder="Localidad" type="text" />
{% endblock %}

{% block botones-header-tabla %} 
    {% if perms.usuarios.encargado_general %}

            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="agregaOSid" name="campoOS">
                        AGREGAR OBRA SOCIAL
                    </button>
                </span>
                <input class="form-control form-field form-field-simple" type="text" id="razonSocialAgr" name="razonSocialAgr" value="{{filtros.razonSocial}}" placeholder="Razon Social"/>
            </div>

    {% endif %}
{% endblock %}

{% block tabla %}
     <thead>
        <tr>
            <th>Razón Social</th>
            <th>Localidad</th>
            <th>Dirección</th>        
            <th>Nombre Gerente</th>
            {% if perms.usuarios.encargado_general %}
            <th>Acción</th>
            {% endif %}
        </tr>
    </thead>
    <tbody id="tbl">

        {% for obrasSocial in ObrasSociales %}
            <tr class="clickeable" data-id="{{ obrasSocial.id }}" id="listadoOS">
                <td>{{obrasSocial.razonSocial}}</td>
                <td>{{obrasSocial.localidad}}</td>
                <td>{{obrasSocial.direccion}}</td>
                <td>{{obrasSocial.nombreEncargado}}</td>
                {% if perms.usuarios.encargado_general %}
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acción
                        <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">

                            <li>

                                <a class="action-link btn-eliminar-ajax" href="#">
                                    <span class="action-link-icon animated glyphicon glyphicon-edit"></span> Cobertura
                                </a>

                            </li>
                            <li>

                                <a class="action-link btn-desvincular" id="{{ obrasSocial.id }}" name="desvinculacion" href="">
                                    <span class="action-link-icon animated glyphicon glyphicon-trash"></span> Desvincular
                                </a>

                            </li>

                        </ul>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}

    </tbody>
{% endblock %}

{% block modal-eliminar-titulo %} Eliminar Farmacia {% endblock %}

{% block modal-eliminar-mensaje %}
    La farmacia seleccionada se eliminará permanentemente ¿Está seguro?
{% endblock %}

{% block mensaje-fallo-eliminacion %}Esta farmacia no puede ser eliminada por las siguientes razones:{% endblock %}

{% block more-scripts %}

    <script>
       

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                window.open("{% static 'documentacion/build/html/obrassociales.html' %}");
            }
        });


        $(document).on("click",function(e){
            identificadorDeID = e.target.id; /*obtiene el id del elemento del DOM que fue clickeado*/
            identificadorDeNombre = e.target.name; /*obtiene el name del elemento del DOM que fue clickeado*/
            var identificador = new Array();
            identificador[0] = identificadorDeNombre;
            identificador[1] = identificadorDeID;

            envioForm(identificador);

        });

        function envioForm(identificador){

            var razSocOsAenviar,idDeObraSocial,accion;

            if(identificador[1]== "agregaOSid" ){
                razSocOsAenviar = document.getElementById("razonSocialAgr").value;
                accion="vincular";
            }
            if(identificador[0] == "desvinculacion"){

                confirmar = confirm("Realmente quiere desvinular la Obra Social?");

                if (confirmar){
                    idDeObraSocial = identificador[1];/*Se obtiene el id de la OS que se selecciono en la tabla*/
                    {% for obraSocial in ObrasSociales %}/*MEJORAR se usa para obtener la razon social de la OS*/
                        if ( {{obraSocial.id}} == idDeObraSocial ){
                            razSocOsAenviar = '{{obraSocial.razonSocial}}';
                        }
                    {% endfor %}
                    accion="desvincular";
                }
            }
            var razSocClinAenviar = '{{clinica.razonSocial}}';
            var idDeClin = '{{clinica.id}}';

            /*===========CREACION DE UN OBJETO JSON========*/
            var paquete = new Object();
            paquete.idDeClin = idDeClin;
            paquete.razSocClinAenviar = razSocClinAenviar;
            paquete.idDeObraSocial = idDeObraSocial;
            paquete.razSocOsAenviar = razSocOsAenviar;
            paquete.action=accion;
            var paqueteJson = JSON.stringify(paquete);

            $.ajax({
                contentType: 'json',
                processData: false,
                data: paqueteJson,
                type: 'get',
                url: {% url 'ObSocAdjuntarAclinicaR' %},

                success:function(response){
                    alert(response);
                    /*$('#tbl').html(response);*/
                    window.location.assign("{% url 'ObSocAdjuntarAclinica' clinica.pk %}");
                    /*location.reload()*/
                }
            });
        }
    </script>
{% endblock %}