{% load staticfiles %}

<nav id="navbar-principal" class="navbar navbar-default navbar-principal">
    <div class="container-fluid">
      <div class="navbar-header">
            <ul id="navbar-right" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#menu-toggle" target="_blank" class="btn btn-default glyphicon glyphicon flash" id="menu-toggle">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </li>
                <a class="navbar-brand" href="{% url 'inicio' %}">
                    <img alt="Brand" src="{% static 'images/logopequeno222.png' %}" style="width: 110%; height: 110%;">
                </a>
            </ul>
      </div>
      <ul id="navbar-right2" class="nav navbar-nav navbar-right">
        <li>
            <a href="{% static 'documentacion/build/html/index.html' %}" target="_blank"> <span class="glyphicon glyphicon-question-sign"></span> Ayuda</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="top:2px;" class="glyphicon glyphicon-user"></span> {{ user.get_username }} <span class="caret"></span></a>
                <ul class="dropdown-menu submenu text-center">
                    {% if perms.usuarios.encargado_general %}
                        <li><a href="{% url 'usuario_add' %}">Agregar Usuario</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                </ul>
            </li>
      </ul>
    </div>
</nav>