{% extends "base/base-listado.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
	<link rel="stylesheet" href="{%  static 'css/jquery-ui.custom.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/base-listado.css' %}">

    <style type="text/css">
      .modal-content > td{
        color: #f07fff;
      }
      a{
        color: #f07a14;
      }
      p{
        color: #4d66ea;
        font-style: italic;
        font-size:15px;
      }
      .header-title,tr,td{
        color: #4d66ea;
      }
    </style>

{% endblock %}

{% block title %} Registro Facturas Emitidas {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active" id="m">Facturas Emitidas Registradas</li>
{% endblock %}

{% block header-title %} Facturas Emitidas Registradas {% endblock %}

{% block form-field-simple %}
    <input class="form-control form-field form-field-simple" id="clienteId" name="cliente" value="{{filtros.cliente}}" placeholder="Cliente" type="text" />
{% endblock %}

{% block form-fields-avanzados %}

    <input class="form-control form-field form-field-simple" id="nroFacturaId" name="nroFactura" value="" placeholder="Nro. Factura" type="text" />

    <div>
        <input class="datepicker form-control form-field"  id="desde" name="desde" value="{{filtros.desde}}" placeholder="Desde" type="text" />
    </div>

    <div>
        <input class="datepicker form-control form-field" id="hasta" name="hasta" value="{{filtros.hasta}}" placeholder="Hasta" type="text" />
    </div>

{% endblock %}

{% block botones-header-tabla %}
    {% if perms.usuarios.encargado_pedido %}

        <div style="display:inline-block;" class="dropdown dropdown-reportes">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-signal"></span>Reportes
            <span class="caret"></span>
          </a>
        </div>

    {% endif %}
{% endblock %}


{% block tabla %}
    <thead>
         <tr>
            <th>Nº Pedido</th>
            <th>Clinica</th>
            <th>Fecha</th>
            <th>Obra social</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for listPedido in listPedidosClinicas %}
            <tr class="clickeable" data-id="{{ listPedido.nroPedido }}">
                <td>{{ listPedido.nroPedido }}</td>
                <td>{{ listPedido.clinica }}</td>
                <td>{{ listPedido.fecha }}</td>
                {% if listPedido.get_factura_estado  %}
                    <td><font color="green">{{ listPedido.obraSocial }} Factura Pagada </font></td>
                {% else %}
                    <td><font color="red">{{ listPedido.obraSocial }} Factura Impaga </font></td>
                {% endif %}
                <td class="action">
                    <div class="dropdown">
                        <button class="btn btn-default button-hover"  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Acción
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a name="imprimir" class="btn btn-primary center-block" >Imprimir</a>
                            </li>

                            {% if not listPedido.get_factura_estado  %}
                                <li>
                                    <a name="regPago" class="btn btn-primary center-block" >Registrar Pago</a>
                                </li>
                            {% else %}
                                <li>
                                    <a name="verFecha" class="btn btn-primary center-block" >Ver Fecha de Pago</a>
                                </li>
                            {% endif %}

                        </ul>

                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block modal-eliminar-titulo %} Cancelar Pedido a Laboratorio {% endblock %}

{% block modal-eliminar-mensaje %}
    El pedido a laboratorio seleccionado se cancelará ¿Está seguro?
{% endblock %}


{% block more-content %}

{% endblock %}


{% block more-scripts %}
    <script>
        $("[name='imprimir']").on("click", function(e){
            var nroPedido = $(e.target).parents("tr").data()["id"];
            window.location.assign("/obSocialesYclinicas/" + nroPedido);
        });

        $("[name='regPago']").on("click", function(e){
            var id = $(e.target).parents("tr").data()["id"];
            url={% url 'registrarPagoDeFacturaVenta' %};
            data={'nroPedido':id};
            enviarData(url,data);

        });

        function enviarData(url,data){
            $.ajax({

                contentType:'json',
                data: data,
                type: 'get',
                url: url,
                success:function(response){
                    alert(response);
                    window.location.assign("/facturasEmitidas/");
                }
            });
        }

    </script>
{% endblock %}