{% extends "base-remito.html" %}

{% block header %}
    <p class="logo"><img width="100%" src="images/logo-farma.jpg" /></p>
    <p>
        Fecha de Emision: {{factura.fecha}}<br>
        Cuit: {{factura.cuit}}<br>
        Factura: ABZX-000-0001234{{factura.nroFactura}}<br>
        Tel (02965) 43-4159 <br>
        Lezama 479 <br/>
        Trelew, Chubut
    </p>
{% endblock%}

{% block cliente %}
    <!--p class="bottom-10">
        <strong>Farmacia de Destino </strong> <span class="client">"{{remito.farmacia}}"</span>
    </p>
    <p class="bottom-10">
        {%if remito.farmacia.direccion %}
            Dir: {{ remito.farmacia.direccion }}<br />
        {% endif %}
        {%if remito.farmacia.localidad %}
            Localidad: {{ remito.farmacia.localidad }}
        {% endif %}
        {%if remito.farmacia.telefono %}
            Tel: {{ remito.farmacia.telefono }}<br />
        {% endif %}
    </p-->
{% endblock %}

{% block tipo-remito %}
    <br/>
    <br/>
    <br/>
    {% if factura.tipo == 1 %}
        Factura "A" <br>
    {% endif %}
    Clinica: {{pedido.clinica.razonSocial}} Cuit:{{pedido.clinica.cuit}}<br>
    Obra Social Interviniente: {{pedido.obraSocial.razonSocial}}<br>
    Medico Auditor: {{pedido.medicoAuditor}}
{% endblock %}

{% block remito-cabecera %}
    <!--tr>
        <td class="item-name"><strong>Remito Nº {{ remito.pk }}</strong></td>
        <td><strong>{{ remito.fecha }}</strong></td>
    </tr-->
    <tr>
        <td>{{factura.nroFactura}}</td>
    </tr>
{% endblock %}

{% block remito-detalles %}
    <thead>
        <br/>
        <tr>
            <!--th class="text-left">Nro.</th-->
            <th class="text-right">Medicamento</th>
            <th class="text-right">Cantidad</th>
            <th class="text-right">Precio Unitario</th>
            <th class="text-right">Importe</th>
        </tr>
    </thead>
    <tbody>
       {% for detalle in detaLLeFactura %}
        <tr>
            <!--td class="text-left">{{ detalle.renglon}}</td-->
            <td class="text-right">{{detalle.medicamento }}</td>
            <td class="text-right">{{ detalle.cantidad }}</td>
            <td class="text-right">${{ detalle.precioUnitario }}</td>
            <td class="text-right">${{ detalle.importe }}</td>
            <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
        </tr>
        {% endfor %}
    </tbody>

    <thead>

    </thead>

    <tbody>
        <tr>
            <!--td class="text-left"></td-->
            <td class="text-right"></td>
            <td class="text-right"><strong>Subtotal: ${{pieDeFactura.subtotal}}</strong></td>
            <td class="text-right"><strong>IVA: {{pieDeFactura.iva}}</strong></td>
            <td class="text-right"><strong>Total: ${{pieDeFactura.total}}</strong></td>
        </tr>
    </tbody>

{% endblock %}