{% extends "base/base-listado.html" %}
{% load staticfiles %}

{% block title %} Pedidos de Farmacia {% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Stock distribuido en Farmacias</li>
{% endblock %}

{% block header-title %} Stock Distribuido en Farmacias {% endblock%}

{% block form-field-simple %}
    <input  class="form-control form-field form-field-simple" type="text" id="farmacia" name="farmacia" value="{{filtros.farmacia}}" placeholder="Farmacia">
{% endblock %}

{% block form-fields-avanzados %}
    <div>
     <input class="datepicker form-control form-field" type="text" id="desde" name="desde" value="{{filtros.desde}}" placeholder="Fecha Desde">
    </div>
    <div>
        <input class="datepicker form-control form-field" type="text" id="hasta" name="hasta" value="{{filtros.hasta}}" placeholder="FechaHasta">
    </div>
{% endblock %}

{% block botones-header-tabla %}
    {% if perms.usuarios.empleado_despacho_pedido %}
        <div class="dropdown dropdown-reportes">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-signal"></span> Reportes
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="{% url 'pedidosDeFarmacia_topFarmaciasConMasMedicamentos' %}">Top 10 Farmacias con mayor demanda de medicamentos</a></li>
            <li><a href="{% url 'pedidosDeFarmacia_topFarmaciasConMasPedidos' %}">Top 10 Farmacias con mayor demanda de pedidos</a></li>
          </ul>
        </div>
        <!--a class="btn-alta" href="{% url 'pedidoDeFarmacia_add' %}"><span class="glyphicon glyphicon-plus"></span> Alta</a-->
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Nº de Lote</th>
            <th>Medicamento</th>
            <th>Cantidad</th>
            <th>Farmacia</th>
        </tr>
    </thead>
    <tbody>
        {% for dist in distribuidos %}
            <tr class="clickeable" data-id="{{ pedido.nroPedido }}">
                {% if dist.cantidad > 0 %}
                <td>{{ dist.lote.numero }}</td>
                <td>{{ dist.lote.medicamento.nombreFantasia }}</td>
                <td>{{ dist.cantidad }}</td>
                <td>{{ dist.farmacia }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block sin-modal-eliminar %}{% endblock %}

{% block more-content %}

{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/modalAjax.js' %}"></script>
    <script>

        (function() {

            var modal = modalAjax();
            modal.init();

            $(document).on("keyup", function(e){
                if(e.keyCode == 112){
                    window.open("{% static 'documentacion/build/html/pedidosfarmacia.html' %}");
                }
            });
        })();


    </script>
{% endblock %}