<div class="table-responsive">
    <h1>Stock Global:</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Total</th>
                <th>Drogueria</th>
                <th>Distribuido en Farmacias</th>
            </tr>
        </thead>
        <tbody class="listadoFact">
            <tr>
                <td>{{ sumaTotalMedicamento }}</td>
                <td>{{ totalEnFarma }}</td>
                <td>{{ totalEnFarmacias }}</td>
            </tr>
        </tbody>
    </table>
</div>