{% load staticfiles %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farma Movil</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'mobile/jquery.mobile-1.4.5.min.css' %}" />
	<link rel="stylesheet" href="{% static 'mobile/FarmaPlus.css' %}" />
	<link rel="stylesheet" href="{% static 'mobile/jquery.mobile.icons.min.css' %}" />

	<script src="{% static 'mobile/jquery.js' %}"></script>
	<script src="{% static 'mobile/jquery.mobile-1.4.5.min.js' %}"></script>

    <style type="text/css">
		.ui-page {
	    	background:#4d66ea;
		}
		.ui-icon-myicon:after {
			background-image: url("pastilla.png");
			background-size: 20px 20px;
		}
		.ui-icon-twitter:after {
			background-image: url("twitter.png");
			background-size: 36px 36px;
		}
		.ui-icon-facebook:after {
			background-image: url("facebook.ico");
			background-size: 36px 36px;
		}
	</style>
</head>
<body>
    <div data-role="page" data-theme="a"><!-- dialog-->
			<!--Nav-->
			<div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
				<!--Boton Home-->
				<a href="{% url 'inicio' %}" data-transition="slide" role="button" data-role="button" class="ui-btn-left ui-btn-corner-all ui-btn ui-icon-home ui-btn-icon-notext ui-shadow" title=" Home " data-form="ui-icon"> Home </a>
				<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">PEDIDOS</h1>
				<!--Boton Menu-->
				<a href="{% url 'informacionMobile' %}" data-transition="slide" role="button" data-role="button" class="ui-btn-right ui-btn-corner-all ui-btn ui-icon-grid ui-btn-icon-notext ui-shadow" title=" Navigation " data-form="ui-icon"> Navigation </a>
			</div>

			<ul data-role="listview" data-inset="true" class="ui-li ui-li-divider ui-bar-b ui-first-child ui-listview" data-filter="true">
            	<tbody>
				{% for pedido in pedidosFarm %}
                	<tr data-id="{{ medicamento.id }}">
				    	<li><a href="{% url 'MostrarPedido' pedido.pk %}" data-ajax="false">{{pedido.nroPedido}}-{{pedido.fecha}}</a></li>
                	</tr>
            	{% endfor %}
            	</tbody>
        	</ul>

			<div data-role="footer" data-theme="a" class="ui-nodisc-icon ui-btn-icon-right">
				<p class="text-muted" align="center"><span class=" glyphicon glyphicon-copyright-mark"></span> Copyright 2016 UNPSJB - Todos los derechos reservados</p>
				<p><img src="{% static 'mobile/images/d-logo.png' %}" style="width: 15%; height: 10%;"> <img src="{% static 'mobile/images/u-logo.png' %}"style="width: 55%; height: 13%;"> <img src="{% static 'mobile/images/b-logo.png' %}" style="width: 13%; height: 10%;"><img src="{% static 'mobile/images/jq-logo.png' %}" style="width: 13%; height: 10%;"></p>
			</div>
	</div>
</body>
</html>