{% extends "base-remito.html" %}

{% block header %} 
    <p><img src="/home/martin/desarrollo2016/farmaplusBackUp31.10.16/estaticos/images/remito.png"></p>
    <p class="padding-40">
        <p class="bottom-10">
        <img src="/home/martin/desarrollo2016/farmaplusBackUp31.10.16/estaticos/images/FPIcono.png">
        <strong>Droguería </strong> <span class="client">Farma</span>
    </p>
{% endblock%}

{% block cliente %}
    <td class="item-name"><strong>Remito Nº {{ remito.pk }}</strong></td></br>
    <td><strong>Fecha: {{ remito.fecha }}</strong></td>

    <p class="bottom-10">
        <strong>Clínica </strong> <span class="client">"{{remito.pedidoDeClinica.clinica}}"</span>
    </p>
    <p class="bottom-10">
        {%if remito.pedidoDeClinica.clinica.direccion %}
            {{ remito.pedidoDeClinica.clinica.direccion }}<br />
        {% endif %}
        {%if remito.pedidoDeClinica.clinica.localidad %}
            {{ remito.pedidoDeClinica.clinica.localidad }}<br />
        {% endif %}        
        {%if remito.pedidoDeClinica.clinica.telefono %}
            {{ remito.pedidoDeClinica.clinica.telefono }}<br />
        {% endif %}
    </p>
{% endblock %}

{% block tipo-remito %}
    Remito de Clínica
{% endblock %}

{% block remito-cabecera %}
    <tr>
        <td class="item-name"><strong>Remito Nº {{ remito.pk }}</strong></td>
        <td><strong>{{ remito.fecha }}</strong></td>
    </tr>
{% endblock %}

{% block remito-detalles %}
    <thead>
        <tr>
            <th class="text-left">Medicamento</th>
            <th class="text-right">Cantidad</th>
            <th class="text-right">Lote</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detallesRemito %}
        <tr>
            <td class="text-left">{{ detalle.detallePedidoDeClinica.medicamento }}</td>
            <td class="text-right">{{ detalle.cantidad }}</td>
            <td class="text-right">{{ detalle.lote }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}