{% extends "base-remito.html" %}

{% block header %} 
    <p><img src="/home/martin/desarrollo2016/farmaplusBackUp31.10.16/estaticos/images/remito.png"></p>
    <p class="padding-40">
        <p class="bottom-10">
        <img src="/home/martin/desarrollo2016/farmaplusBackUp31.10.16/estaticos/images/FPIcono.png">
        <strong>Droguería </strong> <span class="client">Farma</span>
    </p>
{% endblock%}

{% block cliente %}
    <td class="item-name"><strong>Remito Nº {{ remito.pk }}</strong></td></br>
        <td><strong>Fecha: {{ remito.fecha }}</strong></td>
    <p class="bottom-10">
        <strong>Farmacia </strong> <span class="client">"{{remito.pedidoFarmacia.farmacia}}"</span>
    </p>
    <p class="bottom-10">
        {%if remito.pedidoFarmacia.farmacia.direccion %}
            {{ remito.pedidoFarmacia.farmacia.direccion }}<br />
        {% endif %}
        {%if remito.pedidoFarmacia.farmacia.localidad %}
            {{ remito.pedidoFarmacia.farmacia.localidad }}<br />
        {% endif %}        
        {%if remito.pedidoFarmacia.farmacia.telefono %}
            {{ remito.pedidoFarmacia.farmacia.telefono }}<br />
        {% endif %}
    </p>
{% endblock %}

{% block tipo-remito %}
    Remito de Farmacia
{% endblock %}

{% block remito-cabecera %}
    <tr>
        <td class="item-name"><strong>Remito Nº {{ remito.pk }}</strong></td>
        <td><strong>{{ remito.fecha }}</strong></td>
    </tr>
{% endblock %}

{% block remito-detalles %}
    <thead>
        <tr>
            <th class="text-left">Medicamento</th>
            <th class="text-right">Cantidad</th>
            <th class="text-right">Lote</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detallesRemito %}
        <tr>
            <td class="text-center">{{ detalle.detallePedidoDeFarmacia.medicamento }}</td>
            <td class="text-center">{{ detalle.cantidad }}</td>
            <td class="text-center">{{ detalle.lote }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}