{% extends "base/base-add-update-2.html" %}
{% load staticfiles %}

{% block title %}Subir Archivo de Ventas{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Subir Archivo</li>
{% endblock %}

{% block url-volver %}{% endblock %}

{% block header-title %} Subir Archivo de Ventas Realizadas{% endblock %}

{% block title-header-form %}Subir Archivo de Ventas Realizadas{% endblock %}

{% block icon-header-form %}
    <span class="glyphicon glyphicon-plus page-header-icon"></span>
{% endblock%}

{% block sub-header-form %}
    Complete el siguiente campo
{% endblock %}

{% block msg-success %}

{% endblock %}

{% block more-scripts %}
    <script>

        window.onload = function() {
            if('{{invalid}}' == 'True'){
                alert("Error el archivo tiene incoherencias y no pudo procesarse.");
            }
            if('{{invalid}}' == 'Procesado'){
                alert("El Archivo se proceso correctamente.");
                window.location.assign("/uploads/");
            }
        };

        $(document).on("keyup", function(e){
            if(e.keyCode == 112){
                var url = "{% static 'documentacion/build/html/informedeventas.html' %}";
                window.open(url);
            }
        });

    </script>
{% endblock %}